<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilFoto.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="data">
        <p id="nombre">Nicolás "Nikochittoo" Brito</p>
        <p>CEO of Sacude</p>
        <p>Full Stack Developer Jr</p>
        <p>Mechanic Tech</p>
        <p>Streamer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy de Córdoba Capital, me recibi de tecnico mecanico, actualmente me desempeño como informatico y estudio para ser tecnico superior en desarrollo web y aplicaciones digitales.</p>
            <p>Estudie 2 años artes en la UPC.</p>
            <p>Me gustan los videojuegos y la apps con los cuales tengo un proyecto en mente :).</p>
        </span>
    </div>
</div>
