<div class="row" id="educacion">
    <h1 id="title">Educación</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>IPET N°249 - Nicolás Copernico</h1>
            </li>
            <p>
                <b>Bachiller Técnico en Mecanica</b> - Utilización de torno y torno CNC con programación, representacion e interpretación de planos, dibujo técnico, informatica, analisis matemático, inglés técnico, etc.
            </p>
            <li>
                <h1>ISPC - Instituto Superior Politécnico Córdoba</h1> <h3>(Cursando)</h3>
            </li>
            <p>
                <b>Técnico Superior en Desarrollo Web y Aplicaciones Digitales</b> -  Desarrollo, planificación y programación de paginas webs, desarrollo de aplicaciones moviles, web e hibridas, full stack (front end y back end), hacking ético, bases de datos, etc.
            </p>
            <li>
                <h1>UPC - Universidad Provicial de Córdoba</h1> <h3>(Cursando)</h3>
            </li>
            <p><b>Artes Visuales</b> - Diseño artistico, plastico, moldes, pinturas, dibujos, collage, manualidades, etc.
            </p>
        </ul>
         <div class="col-lg-2"></div>
    </div>
</div>
