<div>
    <a href="https://www.linkedin.com/in/nikochittoo/"><img src="../../../assets/linkedin.png" alt="Linkedin" title="Share on LinkedIn"/></a>
    <a href="https://twitter.com/Nikochittoo"><img src="../../../assets/twitter.png" alt="Twitter" title="Share on Twitter"/></a>
    <a href="https://www.instagram.com/nikochittoo/"><img src="../../../assets/instagram.png" alt="Instagram" title="Share on Instagram"/></a>
    <a href="https://github.com/nikochittoo"><img src="../../../assets/github.png" alt="GitHub" title="Share on Github"/></a>
    <a href=""><img src="../../../assets/facebook.png" alt="Facebook" title="Share on Facebook"/></a>
</div>
