<div>
    <a href="https://www.linkedin.com/in/nikochittoo/"><img src="../../../assets/linkedin.png" alt="Linkedin" title="Share on LinkedIn" class="img-fluid"/></a>
    <a href="https://twitter.com/Nikochittoo"><img src="../../../assets/twitter.png" alt="Twitter" title="Seguime en Twitter" class="img-fluid"/></a>
    <a href="https://www.instagram.com/nikochittoo/"><img src="../../../assets/instagram.png" alt="Instagram" title="Seguime en Instagram" class="img-fluid"/></a>
    <a href="https://github.com/nikochittoo"><img src="../../../assets/github.png" alt="GitHub" title="Seguime en Github" class="img-fluid"/></a>
    <a href="https://www.twitch.tv/nikochittoo"><img src="../../../assets/twitch.png" alt="Twitch" title="Seguime en Twitch" class="img-fluid"/></a>
</div>
