.row{
    font-family: open sans;
    background-color: rgb(102, 44, 102);
    color: white;
}
footer{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #0000;
}