<div class=".row">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'TWITCH'"
        [title]="'STREAMING'"
        [subtitleColor]="'orange'"
        [titleColor]="'white'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#E3170A'"
        [innerStrokeColor]="'#E16036'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'WEB'"
        [title]="'HTML'"
        [subtitleColor]="'orange'"
        [titleColor]="'white'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#E3170A'"
        [innerStrokeColor]="'#E16036'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
    <circle-progress
        [percent]="36"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'CIBERSEGURIDAD'"
        [title]="'PHYTON'"
        [subtitleColor]="'orange'"
        [titleColor]="'white'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#E3170A'"
        [innerStrokeColor]="'#E16036'"
        [animation]="true"
        [animationDuration]="300">
    </circle-progress>
</div>
