<div class="row" id="experiencia">
    <h1 id="experiencia">Experiencia Laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Aprendíz en la UTN</h1> <h3>(5 Meses)</h3>
            </li>
            <p>
                Hice mantenimiento del establecimiento y maquinarias, limpieza de todo el area de trabajo, clases sobre la utilización especifica de todas las herramientas tecnicas, tome charlas didacticas e introductorias sobre la seguridad e higiene laboral.
            </p>
            <li>
                <h1>Ayudante electricista</h1> <h3>(4 Meses)</h3>
            </li>
            <p>Conexiones basicasde cables, reparación e instalación de iluminaria domestica, cambio de cables, etc.</p>
            <li>
                <h1>Creador de contenido</h1> <h3>(2 Años)</h3>
            </li>
            <p>Creador de contenidos para todas la redes pero principalmente hago directos ya hace más de 2 años. Realizo edición de videos, creacion de graficas, etc.</p>
        </ul>
         <div class="col-lg-2"></div>
    </div>
</div>
